.navbar{
    overflow: hidden auto;
    overscroll-behavior-y: contain;
    top: 60px;
    bottom: 0px;
    width: 240px;
    background: rgb(18, 18, 18);
    position: fixed;
    z-index: 99;
    padding-right: 8px;

    padding: 20px 0px 26px 8px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    -webkit-box-align: stretch;
    align-items: stretch;
    min-height: 100%;
}

.avatar-nav{
    width: 27px;
    height: 27px;
    object-fit: cover;
    border-radius: 23px;
}

.modal {
    background-color: red;
}