@import 'normalize.css';

:root {
    --primary-color: #FF3B5C;
    --white-color: #fff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    background-color: #121212;
}

body {
    font-family: 'ProximaNova', san-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    color: #fff;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

button {
    outline: none;
    border: none;
}

// Fonts emmbeded
@font-face {
    font-family: ProximaNova;
    src: url('/assets/fonts/Proxima-Nova-Regular.woff2');
    font-weight: 400;
}

@font-face {
    font-family: ProximaNova;
    src: url('/assets/fonts/ProximaNova-Semibold.woff2');
    font-weight: 600;
}

@font-face {
    font-family: ProximaNova;
    src: url('/assets/fonts/Proxima-Nova-Bold.woff');
    font-weight: 700;
}

@font-face {
    font-family: SofiaPro;
    src: url('/assets/fonts/sofiapro-bold.woff');
    font-weight: 700;
}

// custom Tippy
.tippy-box{
    font-weight: 600;
    background-color: rgba(84, 84, 84, 0.92);
    color: rgb(255, 255, 255);
    line-height: 2.2rem;
    font-size: 1.6rem;
    padding: 1px 0;
    border-radius: 6px;
}

.tippy-arrow{
    color: rgba(84, 84, 84, 0.92);
}