.footer {
    padding-top: 16px;
    padding-left: 8px;
    position: relative;
}

.footer-banner {
    padding-right: 8px;
    margin-bottom: 30px;
    width: 208px;
    height: 52px;
    background-image: url('https://sf16-website-login.neutral.ttwstatic.com/obj/tiktok_web_login_static/tiktok/webapp/main/webapp-desktop/d8db931296c3e5645b1e.png');
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    // font-family: TikTokFont, Arial, Tahoma, PingFangSC, sans-serif;
    // font-weight: 600;

    .btn-icon {
        width: 19px;
        height: 19px;
        margin-right: 9px;
        color: var(--font-color);
    }

    &:hover {
        scale: 1.1;
        transition: scale .2s ease-in-out;
    }
}

.copy-right {
    color: rgba(255, 255, 255, 0.5);
    font-family: TikTokFont, Arial, Tahoma, PingFangSC, sans-serif;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    display: inline-block;
    margin-right: 6px;
    margin-top: 5px;
}